<table class="w-100">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let pet of values">
        <td>
          {{ pet.id}}
        </td>
        <td>
            {{ pet.name}}
          </td>
      </tr>
  </tbody>
</table>

<div>

<div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
          <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid" >Submit</button>
      </formly-form>
    </form>
  </div>
</div>
