<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/pets">Pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/claims">Claims</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="w-100">
  <div>
    <h2 class="m-3">
      <!-- PetSure -->
    </h2>
  </div>
  <div class="w-75 mx-auto">
    <router-outlet>

    </router-outlet>
  </div>
</div>
