<h3>
  Make a claim
</h3>
<form [formGroup]="form">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
  </formly-form>
</form>



<div style="padding-top: 30vh">
  <input #file type="file" multiple/>
  <br/>
  <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
  </span>

  <span style="font-weight:bold;color:green;" *ngIf="message">
    {{message}}
  </span>

  <button type="submit" class="btn btn-primary submit-button" (click)="upload(file.files)">Submit</button>
</div>



